@import url('https://fonts.googleapis.com/css2?family=TeX+Gyre+Pagella:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  /* background: linear-gradient(-135deg, #ffffff, #fcf6fb); */
  font-family: 'TeX Gyre Pagella', serif;
  /* word-spacing: 0.1em; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
